@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-background: #f0f4f8;
  --secondary-background: #d9e2ec;
  --primary-text: #102a43;
  --secondary-text: #486581;
  --primary-green: #66bb6a;
  --primary-red: #ef5350;
  --primary-blue: #42a5f5;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary-background: #0f172a;
    --secondary-background: #1e293b;
    --primary-text: #f0f4f8;
    --secondary-text: #cbd2d9;
    --primary-green: #81c784;
    --primary-red: #e57373;
    --primary-blue: #64b5f6;
  }
} */

body {
  color: var(--primary-text);
  background: var(--primary-background);
  font-family: "Montserrat", system-ui;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ql-toolbar {
  border-radius: 6px 6px 0 0;
}
.ql-container {
  border-radius: 0 0 6px 6px;
}
.ql-editor p {
  font-size: 14px;
  font-family: inherit;
}
.ql-container.ql-snow {
  border: 0;
  height: 90px;
}
.logo-text {
  font-family: "Pacifico", cursive;
}
.bubble-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.bubble {
  position: absolute;
  bottom: -150px;
  background-color: rgba(66, 165, 245, 0.6); /* Light blue transparent */
  border-radius: 50%;
  animation: rise 6s infinite ease-in;
  opacity: 0;
}

/* Generate 20 unique bubbles */
.bubble-1 {
  left: 5%;
  width: 60px;
  height: 60px;
  animation-duration: 8s;
  animation-delay: 2s;
}

.bubble-2 {
  left: 10%;
  width: 40px;
  height: 40px;
  animation-duration: 10s;
  animation-delay: 3s;
}

.bubble-3 {
  left: 15%;
  width: 80px;
  height: 80px;
  animation-duration: 12s;
  animation-delay: 1s;
}

.bubble-4 {
  left: 20%;
  width: 50px;
  height: 50px;
  animation-duration: 9s;
  animation-delay: 5s;
}

.bubble-5 {
  left: 25%;
  width: 70px;
  height: 70px;
  animation-duration: 11s;
  animation-delay: 4s;
}

.bubble-6 {
  left: 30%;
  width: 30px;
  height: 30px;
  animation-duration: 10s;
  animation-delay: 6s;
}

.bubble-7 {
  left: 35%;
  width: 90px;
  height: 90px;
  animation-duration: 13s;
  animation-delay: 7s;
}

.bubble-8 {
  left: 40%;
  width: 40px;
  height: 40px;
  animation-duration: 9s;
  animation-delay: 2s;
}

.bubble-9 {
  left: 45%;
  width: 50px;
  height: 50px;
  animation-duration: 14s;
  animation-delay: 1s;
}

.bubble-10 {
  left: 50%;
  width: 20px;
  height: 20px;
  animation-duration: 8s;
  animation-delay: 5s;
}

.bubble-11 {
  left: 55%;
  width: 60px;
  height: 60px;
  animation-duration: 11s;
  animation-delay: 3s;
}

.bubble-12 {
  left: 60%;
  width: 45px;
  height: 45px;
  animation-duration: 12s;
  animation-delay: 4s;
}

.bubble-13 {
  left: 65%;
  width: 35px;
  height: 35px;
  animation-duration: 10s;
  animation-delay: 2s;
}

.bubble-14 {
  left: 70%;
  width: 75px;
  height: 75px;
  animation-duration: 13s;
  animation-delay: 1s;
}

.bubble-15 {
  left: 75%;
  width: 25px;
  height: 25px;
  animation-duration: 9s;
  animation-delay: 6s;
}

.bubble-16 {
  left: 80%;
  width: 90px;
  height: 90px;
  animation-duration: 14s;
  animation-delay: 4s;
}

.bubble-17 {
  left: 85%;
  width: 55px;
  height: 55px;
  animation-duration: 12s;
  animation-delay: 5s;
}

.bubble-18 {
  left: 90%;
  width: 40px;
  height: 40px;
  animation-duration: 11s;
  animation-delay: 3s;
}

.bubble-19 {
  left: 95%;
  width: 70px;
  height: 70px;
  animation-duration: 13s;
  animation-delay: 2s;
}

.bubble-20 {
  left: 50%;
  width: 50px;
  height: 50px;
  animation-duration: 10s;
  animation-delay: 1s;
}

@keyframes rise {
  0% {
    transform: translateY(0);
    opacity: 0.2;
  }
  25% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(-1000px);
    opacity: 0;
  }
}

div::-webkit-scrollbar {
  width: 0;
}
